/* INICIO Menu*/
#logo{
  max-width: 120px;
  float: left;
  padding: 30px;
}
.logo_area,  .btn{
  float: right;
  margin-top: 50px;
  margin-right: 70px;
  margin-bottom: 40px;
  text-shadow: black;
}
#menu{
  text-shadow: black,100px;
}
#logo2homecare{
  max-width: 200px;
  margin-top: 50px;
}
.nav-item{
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
}
.formulario{
  margin-top: 0px;
}
#menu_area{
margin-bottom: 80px;
}
/* FIM Menu*/
.favoritos{
  margin-left: 150px;
  margin-bottom: 30px;
  width: 16%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: x-large;
  color: skyblue;
}
#filtro-servico{
  align-self: center;
  margin-bottom: 0px;
  margin-top: 0px;
  float: none;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: rgb(131, 131, 131);
  margin: 5px;
}
  /*INICIO FOOTER*/
  .footer{
    margin-top: 30px;
    padding: 30px;
    background-color: rgb(187, 227, 236);
  }
  #footer-info{
      color: rgb(255, 255, 255);
      justify-content: center;
      margin-left: 40px;
      margin-bottom: -5px;
      
  }
  /*FIM FOOTER*/

