.fundo
{
    position: absolute;
    width: 380px;
    height: 700px;
    left: 0px;
    top: 0px;
    background: #D6F6FD;
}
.titulo-login
{
    position: absolute;
    width: 626px;
    height: 57px;
    left: 452px;
    top: 89px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    color: #000000;
}
.subtitulo-login
{
    position: absolute;
    width: 326px;
    height: 43px;
    left: 602px;
    top: 228px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #444444;
}
.usuario-login
{
    position: absolute;
    width: 389px;
    height: 59px;
    left: 570px;
    top: 291px;
    background: #E5E5E5;
    border-radius: 50px;
    border: none;
    padding: 30px;
}
.senha-login
{
    position: absolute;
    width: 389px;
    height: 64px;
    left: 570px;
    top: 391px;
    border-radius: 50px;
    background: #E5E5E5;
    border: none;
    padding: 30px;
}

.botao-login
{
    position: absolute;
    width: 93px;
    height: 64px;
    left: 718px;
    top: 495px;
    border: none;
    border-radius: 50px;
}
.saudacao
{
    position: absolute;
    width: 186px;
    height: 43px;
    left: 97px;
    top: 423px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
}
.img-login
{
    position: absolute;
    width: 299px;
    height: 279px;
    left: 39.82px;
    top: 71.2px;
}