.logomarca{
    width: 300px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 55px;
    padding: 20px;
    justify-self: center;
    

}
.card {
    margin-left: 320px;
    border-radius: 10px;
    padding: 5px;
    border-color: rgb(182, 181, 181);
    border-width: 2px;
    justify-content: center;
    width: 450px;
    height: 250px;
    align-self: center;
    margin-top: 80px;
}
.login_area{
    margin-left: 220px;
}
.menu_area{
    margin-top: 30px;
    align-content: center;
    text-align: center;
    color: black;
}
.Bemvindo{
    text-align: center;
    margin-top: 100px;
    color: #54B6C6;
}
.a{
    color: black;
}

#btn-rejane, #btn-logout{
    margin-top: 30px;
}

.main .nav-item{
    width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 150;
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
  }
  
  #menu_area{
  margin-bottom: 80px;
  }