/*INICIO PAGINA CARD*/
/* INICIO Menu*/
#logo{
    max-width: 120px;
    float: left;
    padding: 30px;
}
.logo_area, .btn{
    float: right;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 50px;
    width: 200px;
}

#logo2homecare{
  max-width: 200px;
  margin-top: 50px;
  float: left;
  margin-left: -150px;
}
.nav-item{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
}

#menu_area{
  margin-bottom: 80px;
}
.sobre_perfil{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 225;
      margin-left: 0px;
      background-color: rgb(245, 245, 245);
      padding: 20px;
      margin-bottom: 30px;
  }
  .sobre{
    padding: 50px;
  }
/* FIM Menu*/

/*INICIO CARDS*/
.card-img-top{
    max-width: 100px;
    justify-items: center;
    margin-left: 80px;
    margin-top: 30px;
  }
  .card-title, .card-text{
    text-align: center;
  }
  .card-title{
      color: rgb(0, 26, 83);
  }
  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);box-shadow: rgb(131, 131, 131);
    
  }
  .btn2{
     margin-left: 40px;
     font-weight: 100;
     padding-left: 10px;
     padding-right: 10px;
  }
  /*FIM CARDS*/

  /*INICIO FOOTER*/
  .footer{
    margin-top: 30px;
    padding: 30px;
    background-color: rgb(187, 227, 236);
  }
  #footer-info{
      color: rgb(255, 255, 255);
      justify-content: center;
      margin-left: 40px;
      margin-bottom: -5px;
      
  }
  /*FIM FOOTER*/

  /*------------INICIO AJUSTE DE TAMANHO-------------*/

  @media screen and (max-width:600px ){
    /*INICIO menu/logo*/
    #logo{
        float: none;
        margin-left: 60px;
        min-width: 200px;

    }
    #logo2homecare{
        margin-left: 60px;
        margin-top: 0px;
    }
    .logo_area, .btn{
        float: none;
        margin-left: 60px;
        margin-bottom: 10px;
        margin-top: 0px;
        margin-right: 0px;
        max-width: 200px;
    }
    /*FIM menu/logo*/
    /*INICIO cards*/
    .card-img-top{
        
        justify-items: center;
        margin-left: 130px;
        margin-top: 30px;
      }
      .btn2{
        margin-left: 90px;
        font-weight: 100;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
     }
     .sobre_perfil{
         margin-right: 10px;
         margin-left: 10px;
         text-align: center;
     }
     /*FIM cards*/
     /*INICIO footer*/
     #footer-info{
         font-size: xx-small;
         float: right;
         margin-left: 0px;
         margin-bottom: 5px;
     }
     /*FIM footer*/

  }

  @media screen and (min-width: 601px) and (max-width: 980px){
    /*INICIO menu/logo*/
    #logo{
        float: none;
        margin-left: 225px;
        min-width: 200px;

    }
    #logo2homecare{
        margin-left: 222px;
        margin-top: 0px;
    }
    .logo_area, .btn{
        margin-left: 170px;
        margin-bottom: 10px;
        margin-top: 2px;
        margin-right: -280px;
        max-width: 200px;
    }
    /*FIM menu/logo*/
    /*INICIO cards*/
    .sobre_perfil{
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }
    .card-img-top{
        
        justify-items: center;
        margin-left: 118px;
        margin-top: 30px;
      }
      .btn2{
        margin-left: 70px;
        font-weight: 100;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
     }
     /*FIM cards*/
  }

  @media screen and (min-width: 980px) and (max-width: 1024px){
    /*INICIO menu/logo*/
    #logo2homecare{
        margin-left: -100px;
        margin-top: 50px;
    }
    .nav-item{
        font-size: x-small;
     }
    /*FIM menu/logo*/
    /*INICIO cards*/
    .sobre_perfil{
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }
    .card-img-top{
        margin-left: 60px;
        margin-top: 30px;
      }
      .btn2{
        margin-left: 15px;
        font-weight: 100;
        background-color: white;
     }
     /*FIM cards*/

  }
  /*------------FIM AJUSTE DE TAMANHO-------------*/
  /*FIM PAGINA CARD*/




